* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



html, body {
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
    margin: auto;

}

div {
  display: block;
}



/* Navbar */

nav {
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Poppins', sans-serif;
  background-color: #EEEEEE;
  top: 0;
  z-index: 10000;
}

.logo {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;


}

.active {
    color: #080808 !important
}

.nav-links a:hover {
  color: grey;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;


}
.nav-links li {
  list-style: none;
}

.nav-links a{
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
  padding-left: 320px;
}



.burger div{
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}





/* Media Queries til både desktop og mobil SLUT!*/

.nav-active {
  transform: translateX(0%);
}

@@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}



/* Single page */

.page {

    display: none;
    text-align: center;
    width: 100%;
    height: 100%;
    animation: fadeIn 0.6s;
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/* Generelle CSS regler */

.bg {
  background-image: url(../billeder/builder.jpg);
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


h1,
h2,
h3,
h4 {
  font-family: 'Lato', sans-serif;
}

.titel {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
  margin-top: 3vh;
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: 430;
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;

}

.billede1 {

  margin-top: 3vh;
  margin-bottom: 8px;
  width: 10rem;
  text-align: center;
}

.arrow {
    text-align: center;
    margin: 12% 0;

}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;

}

.icon {
  margin-top: 3vh;
  margin-bottom: 10px;
  font-size: 70px;
}

.p1 {
  font-size: 20px;
  margin-top: 3vh;
  margin-bottom: 12px;
}

.container {
  padding-top: 50px;
  text-align: center;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}

.row {
  text-align: center;
}


/* Flip kort på startsiden */
.flip-card {

  border-radius: 10px;
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;

}

.flip-card-inner {
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #bbb;
  color: black;
  font-size: 80px;
}

.flip-card-back {

  background-color: #white;
  color: black;
  transform: rotateY(180deg);
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

/* Fade in på div */



.praktisk_kalender {
    height: 1200px;
    margin-top: 10vw;
}

.praktisk {
    width: 100%;
    height: 750px;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: grey;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
}

.praktisk_tekst {
    position: relative;
    max-width: 50%;
    top: 10%;
    left: 10%;
    text-align: left;
}

.praktisk h2 {
    color: #fff;
    font-family: overskrift;
    font-size: 50px;
    letter-spacing: 2px;
}

.praktisk p {
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: Tekst;
    line-height: 40px;
}


.praktisk button {
    float: left;
    padding: 15px 50px 15px 50px;
    border-radius: 50px;
    border-style: none;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: Overskrift;
    box-shadow: 0px 2px 10px #262626;
    color: #fff;
    background-color: #00a87b;
    transition: .2s;
}

.praktisk button:hover {
    cursor: pointer;
    transform: scale(1.05);

}

/*---------------------Knap styling slut -------------------------------*/

/*-----------------------Ikon tekstafsnit styling-----------------------*/

.praktisk img {
    position: absolute;
    width: 250px;
    top: 15%;
    right: 10%;
    transition: transform .2s;
}

.praktisk img:hover {
    transform: scale(1.05);
}



.kalender {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 750px;
    margin-top: -300px;
    background-color: #00a87b;
}

/*-----------------------------Tekst stylyng------------------------------*/

.kalender_tekst {
    position: absolute;
    max-width: 50%;
    bottom: 25%;
    right: 10%;
    text-align: right;
}

.kalender h2 {
    color: #fff;
    font-family: overskrift;
    font-size: 50px;
    letter-spacing: 2px;
}

.kalender p {
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: Tekst;
    line-height: 40px;
}

/*--------------------------Tekst stylyng slut------------------------------*/

/*---------------------------Knap styling-----------------------------------*/
.kalender button {
    float: left;
    padding: 15px 50px 15px 50px;
    border-radius: 50px;
    border-style: none;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: Overskrift;
    box-shadow: 0px 2px 10px #262626;
    color: #fff;
    background-color: #156a5a;
    transition: transform .2s;
    float: right;
}

.kalender button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/*---------------------Knap styling slut -------------------------------*/

/*-----------------------Ikon tekstafsnit styling-----------------------*/

.kalender img {
    position: absolute;
    width: 250px;
    bottom: 25%;
    left: 10%;
    transition: transform .2s;
}

.kalender img:hover {
    transform: scale(1.05);
}


/* Media Queries til både desktop og mobil */

@media screen and (min-width: 985px) {
  .velkommen {
  margin: 0 200px 0 200px;

  }

}

@media screen and (max-width:1024px) {
  .nav-links {
  width: 60%;

  }

}





@media screen and (max-width:985px) {
  body{
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 1;
  }
  .burger {
    display: block;
  }

  .velkommen {
    padding-top: 10px;
    font-size: 21px;
    text-align: center;
    margin: 0 15px 0 15px;
  }
  .container {
    display: none;
  }

  .praktisk_kalender {
        height: 930px;
        margin-top: -10vw;
    }

    .praktisk {
        height: 550px;
        z-index: 1000;
        display: flex;
        position: relative;
        background-color: #156a5a;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    }

    .praktisk_tekst {
        position: relative;
        max-width: 90%;
        top: 0%;
        left: 0%;
        padding: 20px;
    }

    .praktisk h2 {
        color: #fff;
        font-family: overskrift;
        font-size: 7vw;
        letter-spacing: 2px;
    }

    .praktisk p {
        color: #fff;
        letter-spacing: 1px;
        font-size: 15px;
        font-family: Tekst;
        line-height: 25px;
    }

    .praktisk button {
        padding: 10px 35px 10px 35px;
        border-radius: 50px;
        border-style: none;
        letter-spacing: 1px;
        font-size: 15px;
        font-family: Overskrift;
        box-shadow: 0px 2px 10px #262626;
        color: #fff;
        background-color: #00a87b;
        transition: .2s;
    }

    .praktisk img {
        position: absolute;
        width: 12vw;
        top: 2%;
        right: 15%;
        padding: 5px;
    }

    .kalender {
        position: relative;
        z-index: 100;
        width: 100%;
        height: 500px;
        margin-top: -120px;
        background-color: #00a87b;
    }

    .kalender_tekst {
        position: absolute;
        text-align: right;
        max-width: 100%;
        top: 20%;
        right: 0%;
        padding: 20px;
    }

    .kalender h2 {
        color: #fff;
        font-family: overskrift;
        font-size: 7vw;
        letter-spacing: 2px;

    }

    .kalender p {
        color: #fff;
        letter-spacing: 1px;
        font-size: 15px;
        font-family: Tekst;
        line-height: 25px;
    }

    .kalender button {
        float: right;
        padding: 10px 35px 10px 35px;
        border-radius: 50px;
        border-style: none;
        letter-spacing: 1px;
        font-size: 15px;
        font-family: Overskrift;
        box-shadow: 0px 2px 10px #262626;
        color: #fff;
        background-color: #156a5a;
    }

    .kalender img {
        position: absolute;
        width: 12vw;
        top: 25%;
        left: 15%;
    }



}
