* {
  scroll-behavior: smooth;
}

html {
  background: #fff;
  overflow-x: hidden;


}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  position: relative;
}

a {

  text-decoration: inherit;
  color: inherit;


}

@font-face {
  font-family: Heebo;
  src: url(fonts/Heebo/Heebo-Thin.ttf);
}

@font-face {
  font-family: Heebo-Medium;
  src: url(fonts/Heebo/Heebo-Medium.ttf);
}

@font-face {
  font-family: Tangerine;
  src: url(fonts/Tangerine/Tangerine-Regular.ttf);
}

@font-face {
  font-family: Heebo-Light;
  src: url(fonts/Heebo/Heebo-Light.ttf);
}



/* -----Media Queries----- */


/* -----------MOBIL----------- */

@media only screen and (min-width: 300px) {
  body {
      background-color: fff;
  }

  .logo {
      width: 100%;
      max-width: 20%;
      margin: 15px 0 17px 15px;
      height: auto;

  }

  .topbar {
    display: none;
  }



  .burger {
      float: right;
      margin: 25px 30px 7px 0px;

  }

  .arrow {
      display: none;

  }

  .navbar {
      display: none;
  }


  .navbar-mobil {
      display: flex;
      justify-content: space-between;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      background-color: #fff;
      z-index: 99;
  }

  #nav-icon1m {
      width: 60px;
      height: 5px;
      position: relative;
      margin: 30px -75px auto auto;

      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
      pointer-events: none;
  }

  #nav-icon1m span {
      display: block;
      position: absolute;
      height: 1.3px;
      width: 50%;
      background: #7191a3;
      border-radius: 5px;
      opacity: 0.6;
      right: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
  }

  #nav-icon1m span:nth-child(1) {
      top: 0px;
  }

  #nav-icon1m span:nth-child(2) {
      top: 8px;
  }

  #nav-icon1m span:nth-child(3) {
      top: 16px;
  }

  #nav-icon1m.open span:nth-child(1) {
      top: 6px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
  }

  #nav-icon1m.open span:nth-child(2) {
      opacity: 0;

  }

  #nav-icon1m.open span:nth-child(3) {
      top: 6px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
  }



  #drawer-togglem {
      position: absolute;
      opacity: 0;
  }

  #drawer-toggle-labelm {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      right: 35px;
      height: 70px;
      width: 100px;


      background: rgba(255, 255, 255, .0);
      z-index: 1;
  }

  /* adds our "hamburger" menu icon */




  /* drawer menu pane - note the 0px width */

  #drawerm {
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      position: fixed;
      top: 0;
      right: -330px;
      height: 100%;
      width: 290px;
      background-image: url(billeder/burgerbaggrund.png);
      background-repeat: no-repeat;
      overflow-x: hidden;
      padding: 20px;
      -webkit-overflow-scrolling: touch;

  }

  /* actual page content pane */



  /* checked styles (menu open state) */



  #drawer-togglem:checked~#drawer-toggle-labelm,
  #drawer-togglem:checked~header {
      right: 0px;
  }

  #drawer-togglem:checked~#drawerm {
      right: 0px;
  }



  /* Menu item styles */

  #drawerm ul {
      list-style-type: none;
      margin: 150px 20px 0px 50px;
      font-family: Heebo, sans-serif;
      font-size: 20px;
      font-weight: 700;
  }

  #drawerm ul a {
      display: block;
      padding: 10px;
      color: #7191a3;
      text-decoration: none;
  }

  #drawerm ul a:hover {
      color: #0c3044;
  }


  .calendarm {
      padding: 10px;
      max-width: 50%;
      height: auto;
  }

  .dropdown-btn-m {
      font-family: Heebo, sans-serif;
      padding: 10px;
      color: #7191a3;
      font-weight: 700;
      text-decoration: none;
      font-size: 20px;
      display: block;
      border: none;
      background: none;
      width: 150%;
      text-align: left;
      cursor: pointer;
      outline: none;
  }

  .dropdown-btn-m:hover {
      color: #0c3044;
      font-weight: 700;

  }

  .dropdown-container-m {
      display: none;
      background-color: #fff;

      font-size: 14px;
      font-family: Heebo-Light, sans-serif;

  }

  .prøve-m {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }







  .LINE {
      background-color: #fff;
      min-height: 3vh;

  }

  hr.streg {
      background-color: #2c6c89;
      width: 99.5%;
      margin-top: 30px;
      z-index: 55;
  }

  /* -----FOOTER----- */

  .footermobil {
      display: flex;
      justify-content: center;
      min-height: 120vh;
      background-color: #2c6c89;
      background-image: url(billeder/footer-mobil.png);
      background-repeat: no-repeat;
      background-position: center;



  }

  .footerdesktop {
      display: none;
  }



  .footertxt1 {
      display: none;
  }


  .footertxt2 {
      position: absolute;
      right: 4%;
      top: 87%;

  }

  .footertexthead {
      font-size: 20px;
      color: #bed8e6;
      flex-direction: column;
      text-align: right;
      width: 100%;
      font-family: Heebo-Light, sans-serif;
  }

  .footertexthead1 {
      font-size: 30px;
      color: #bed8e6;
      font-family: Heebo, sans-serif;
      font-weight: 300;
  }



  .footertexthead1 strong {
      color: #6c98ad;
      font-size: 30px;
      font-family: Heebo, sans-serif;
      font-weight: 300;
  }



  .footertextR {
      margin-top: -15px;
      font-size: 16px;
      color: #bed8e6;
      flex-direction: column;
      text-align: right;
      width: 100%;
      font-family: Heebo-Light, sans-serif;
  }


}




/* ---------PC--------- */


@media only screen and (min-width: 788px) {
  body {
      background-color: fff;
  }

  .logo {
      width: 100%;
      max-width: 12%;
      margin: 20px 160px;
      height: auto;
      float: left;
  }

  /* ---- NAVBAR ----- */

  .navbar {
      display: flex;
      justify-content: space-between;

      position: sticky;
      top: 0;
      background-color: grey;
      z-index: 99;
  }

  .navbar-mobil {
      display: none;
  }


  .topbar {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #d2d3d4;
    background-image: url(//xlgrafik.dk/wp-content/themes/xlgrafik/images/topbarpatn.png);
    padding: 11px 0 11px 0;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  .topcontainer {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
  }

  .topelement {
    display: inline-block;
    vertical-align: middle;
  }

  .topelement li {
    font-family: "Barlow", sans-serif;
    font-size: 12px;
    letter-spacing: 1.8px;
    color: #80878a;
    display: inline-block;
    position: relative;
    padding: 0 29px;
    vertical-align: middle;
  }

  li:before {
    content: '\f00c';
    font: normal normal normal 16px/1 FontAwesome;
    position: static;
    margin-right: 7px;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: grey;
}

.innertopbar {
  padding: 10px 0 24px;
  text-align: right;
  margin-bottom: -38px;
  position: relative;
}

.innertoptext {
  font-family: "Play-Bold";
  font-size: 18px;
  letter-spacing: 1.2px;
  color: #a3bfad;
  display: inline-block;
  position: relative;
  padding-left: 38px;
  margin-right: 41px;
}





 .phoneinfo {
  display: inline-block;
  font-family: "Play-Bold";
  font-size: 18px;
  letter-spacing: 1.2px;
  color: #a3bfad;
  display: inline-block;
  position: relative;
  padding-left: 38px;
  margin-right: 41px;
}

  /* -----LINE----- */

  .LINE {
      background-color: #fff;
      min-height: 3vh;

  }

  hr.streg {
      background-color: #2c6c89;
      width: 99.5%;
      margin-top: 30px;
      z-index: 55;
  }

  /* -----FOOTER----- */

  .footerdesktop {
      position: relative;
      display: block;
      flex-direction: column;
      min-height: 53vh;
      background-color: #2c6c89;
      background-image: url(billeder/P.png);
      background-repeat: no-repeat;
      background-position: center;


  }

  .footermobil {
      display: none;



  }

  .footertxt1 {
      display: block;
      position: absolute;
      left: 32%;
      top: 50%;
  }

  .footertxt1-mobil {
      display: none;
  }

  .footertxt2 {
      position: absolute;
      right: 23%;
      top: 30%;

  }

  .footertexthead {
      font-size: 20px;
      color: #bed8e6;
      flex-direction: column;
      text-align: right;
      width: 100%;
      font-family: Heebo-Light, sans-serif;
  }

  .footertexthead1 {
      font-size: 40px;
      color: #bed8e6;
      font-family: Heebo, sans-serif;
      font-weight: 300;
  }



  .footertexthead1 strong {
      color: #6c98ad;
      font-size: 40px;
      font-family: Heebo, sans-serif;
      font-weight: 300;
  }

  .footertextL {
      margin-top: -10px;
      font-size: 16px;
      color: #bed8e6;
      flex-direction: column;
      text-align: right;
      width: 100%;
      font-family: Heebo-Light, sans-serif;
  }

  .footertextR {
      margin-top: -35px;
      font-size: 16px;
      color: #bed8e6;
      flex-direction: column;
      text-align: right;
      width: 100%;
      font-family: Heebo-Light, sans-serif;
  }





  



/* ----IPAD----*/

@media only screen and (min-device-width: 700px) and (max-device-width: 770px) and (-webkit-min-device-pixel-ratio: 1) {

  

  .footermobil {
      display: flex;
      justify-content: center;
      min-height: 70vh;
      background-color: #2c6c89;
      background-image: url(billeder/footer-mobil.png);
      background-repeat: no-repeat;
      background-position: center;
  }

}

@media only screen and (min-device-width: 770px) and (max-device-width: 1150px) and (-webkit-min-device-pixel-ratio: 1) {

  


  }

}

/* ---------BÆRBAR--------- */
@media screen and (min-device-width: 788px) and (max-device-width: 1650px) and (-webkit-min-device-pixel-ratio: 1) {

 
}











.h2 {
  text-align: center;
  font-size: 30px;
padding-top: 30px;
  color: black;
  z-index: 3;
  font-family: 'DM Sans', sans-serif;
  margin: 0 20px;
}








.miniinfo {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../billeder/FL2555.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 6rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smalltekst {
  font-size: 2rem;
  font-weight: 230;
  color: #f2f2f2;
  font-family: 'DM Sans', sans-serif;
}






/* Cards på siden */

.title {
  margin-top: 30px;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  color: #5D4037;
  text-align: center;
}

p {
  line-height: 1.5em;
}

h1 + p, p + p {
  margin-top: 10px;
}

.container {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrap {
  margin: 40px;
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
}
.card-wrap:hover .card-info {
  transform: translateY(0);
}
.card-wrap:hover .card-info p {
  opacity: 1;
}
.card-wrap:hover .card-info, .card-wrap:hover .card-info p {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-wrap:hover .card-info:after {
  transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
  transform: translateY(0);
}
.card-wrap:hover .card-bg {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.8;
}
.card-wrap:hover .card {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.card {
  position: relative;
  flex: 0 0 240px;
  width: 240px;
  height: 320px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
  opacity: 0.5;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info p {
  opacity: 0;
  text-shadow: black 0 2px 3px;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info * {
  position: relative;
  z-index: 1;
}
.card-info:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  transform: translateY(100%);
  transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-info h1 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}

/* Cards - Slut */



